
{% extends 'home.html' %}
{% block content %}

<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<div align="center">
  <h1>Sensor Transfer Log</h1>
</div>

    <form>
<input type="submit" value="Print">

<table>

    <tr>
        <th><h5>Select</h5></th>
        <th><h5>Employee</h5></th>
        <th><h5>Item</h5></th>
        <th><h5>Serial</h5></th>
        <th><h5>Inspection Type</h5></th>
        <th><h5>Unit Type</h5></th>
        <th><h5>Receive Date</h5></th>
        <th><h5>Receive Pass/Fail</h5></th>
        <th><h5>Start Date</h5></th>
        <th><h5>Appearance</h5></th>
        <th><h5>Functions</h5></th>
        <th><h5>Notes</h5></th>
        <th><h5>Complete</h5></th>

    </tr>
    {% for data in data %}
  <tr>

      <th><input type="checkbox" name="test" value={{data.id}}></th>
      <th>{{data.employee}}</th>
      <th>{{data.item}}</th>
      <th>{{data.serial}}</th>
      <th>{{data.ins_type}}</th>
      <th>{{data.unit_type}}</th>
      <th>{{data.rec_date}}</th>
      <th>{{data.rec_pass}}</th>
      <th>{{data.start_date}}</th>
      <th>{{data.appearance}}</th>
      <th>{{data.functions}}</th>
      <th>{{data.notes}}</th>
      <th>{{data.complete}}</th>

    </form>
  </tr>

    {%endfor%}
</table>



</body>
{%endblock%}